<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Good Old Battleship game crafted with Elixir, Phoenix, React and Redux.">
    <meta name="author" content="Ricardo García Vega - @bigardone - http://codeloveandboards.com">

    <title>Ahoy Matey, welcome to Phoenix Battleship!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="main_container"></div> <!-- /container -->
    <%= render @view_module, @view_template, assigns %>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
