input, textarea
  background: #fff
  border: 0px none
  border-radius: $base-border-radius
  box-shadow: 0 0 0
  box-sizing: border-box
  padding: $small-spacing

  &:focus
    outline: none

button
  background: $green
  color: #fff
  border: 0px none
  padding: $small-spacing
  border-radius: $base-border-radius
  border-bottom: 3px solid $dark-green
