input, textarea
  background: #fff
  border: 0px none
  border-radius: $base-border-radius
  box-shadow: 0 0 0
  box-sizing: border-box
  padding: $small-spacing

  &:focus
    outline: none

button, .button
  transition()
  background: tint($action-color, 20)
  color: #fff
  border: 0px none
  padding: $small-spacing $base-spacing
  border-radius: $base-border-radius
  box-shadow: 0px 5px 0px 0px $action-color
  text-transform: uppercase

  &:hover
    background: tint($action-color, 30)
    outline: none

  &:active
    box-shadow: 0px 2px 0px 0px $action-green
    outline: none
