// Typography
$base-font-family = 'Cabin', sans-serif;
$heading-font-family = 'Lobster', cursive

// Font Sizes
$base-font-size = 1em

// Line height
$base-line-height = 1.5em
$heading-line-height = 1.2em

// Other Sizes
$base-border-radius = 3px
$base-spacing = $base-line-height * 1em
$small-spacing = $base-spacing / 2
$base-z-index = 0

// Colors
$blue = #2ec4cb
$light-blue = tint($blue, 50%)

$gray = #B6B6B6
$light-gray = tint($gray, 60%)
$dark-gray = shade($gray, 20%)

$green = #3ca11c
$dark-green = shade($green, 30%)
$light-green = tint($green, 60%)

$red = #b4456c
$light-red = tint($red, 60%)

$orange = #cc6d38

// Font Colors
$base-font-color = #333
$action-color = $green
