// Typography
$base-font-family = 'Cabin', sans-serif;
$heading-font-family = 'Lobster', cursive

// Font Sizes
$base-font-size = 1em

// Line height
$base-line-height = 1.5em
$heading-line-height = 1.2em

// Other Sizes
$base-border-radius = 3px
$base-spacing = $base-line-height * 1em
$small-spacing = $base-spacing / 2
$base-z-index = 0

// Colors
$blue = #56CDFC
$light-blue = tint($blue, 70%)

$gray = #CBCBD2
$light-gray = tint($gray, 60%)
$dark-gray = shade($gray, 50%)

$green = #3ca11c
$dark-green = shade($green, 30%)
$light-green = tint($green, 60%)

$purple = #876DA6
$dark-purple = shade($purple, 60%)
$light-purple = tint($purple, 60%)

$red = #D64242
$light-red = tint($red, 60%)

$orange = #FA9F47

// Font Colors
$base-font-color = #333
$action-color = $dark-purple
