#game_show
  display: flex
  flex: 1
  width: 100%
  height: 100vh
  flex-direction: row
  flex-wrap: wrap
  background: $light-gray

  #main_section
    flex: 3
    display: flex
    flex-direction: column
    padding: $base-spacing

  #game_header
    background: $light-gray
    padding: $base-spacing
    text-align: center

    h1
      margin: 0

  #boards_container
    flex: 3
    display: flex
    flex-direction: row
    flex-wrap: wrap
    overflow-y: auto
    height: 100%


    #opponents_board_container
      flex: 1
      overflow-y: auto
      flex-direction: column

      header
        text-align: center

    #my_board_container
      flex: 1
      overflow-y: auto
      flex-direction: column
      max-width: 50%

      header
        text-align: center


    .grid
      display: flex
      flex-direction: column
      margin-bottom: $base-spacing


      &.pointer
        .cell:not(.header)
          cursor: pointer

      .row
        flex: 1
        display: flex
        min-height: 40px

        > .cell
          flex: 1
          border-color: $dark-gray
          border-style: solid
          border-width: 1px 1px 0 0
          display: flex
          align-items: center
          justify-content: center

          &:not(.header)
            background: $light-blue

          &.ship
            background: $gray

          &.hit
            background: $red
          &.water-hit
            background: $blue

          &:last-of-type
            border-right-width: 3px

          &:nth-child(2)
            border-left-width: 3px


          &.header
            border: 0px none
            font-family: $heading-font-family

        &:nth-child(2)
          > .cell
            border-top-width: 3px

        &:last-of-type
          > .cell:not(.header)
            border-bottom-width: 3px

    #ship_selector
      padding: $small-spacing
      text-align: center
      background: rgba(#fff, .5)
      margin-bottom: $base-spacing
      border-radius: $base-border-radius


      .orientation
        text-transform: uppercase
        font-weight: bold
        border-bottom: 1px dotted $dark-gray

      ul
        list-style: none
        padding: 0
        margin: 0

        li
          margin-bottom: $small-spacing
          width: auto
          cursor: pointer
          display: inline-block

          &:not(:last-of-type)
            margin-right: $small-spacing * .6

          &.active
            .ship
              span
                background-color: rgba($green, .5)

                &:not(:last-of-type)
                  border-right: 1px solid $green


          .ship
            > span
              display: inline-block
              width: 25px
              height: 25px
              background: $dark-gray

              &:not(:last-of-type)
                border-right: 1px solid $gray



  #chat_container
    background: $light-gray
    flex: 1
    display: flex
    flex-direction: column
    padding: $small-spacing
    display: flex
    border-left: 1px solid $gray

    .status
      display: inline-block
      width: 10px
      height: 10px
      vertical-align: middle
      background: $gray
      border-radius: 50%

      &.connected
        background: $green

    .messages-container
      background: rgba(#fff, .5)
      flex: 1
      border-radius: $base-border-radius
      display: flex
      padding: $base-spacing 0

      ul
        list-style: none
        padding: 0
        margin: 0
        overflow-y: scroll
        flex: 1

        li
          padding: 0 $small-spacing
          margin-bottom: ($small-spacing / 2)

          span
            display: inline-block
            background: rgba($light-blue, .5)
            border-radius: $base-border-radius
            padding: ($small-spacing / 2)
            max-width: 75%
            text-align: left

          &.mine
            text-align: right

            span
              background: rgba($light-green, .5)


    .form-container
      padding-top: $small-spacing

      textarea
        width: 100%
