#home_index
  text-align: center
  min-width: 15em

  form
    input, button
      display: block
      margin-bottom: $small-spacing
      width: 100%

    input
      border: 1px solid rgba($blue, .5)
      background: rgba(#fff, .2)
